.user-toggle {
  background: none;
  border: none;
  margin: 10px 0 0 20px;
  cursor: pointer;
  color:rgb(7, 7, 62);
}

.UserType{
  border:1px solid #ddd;
  background:white;
  border-radius:3px;
  margin-top:5px;
}

.btn-label {
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
}


.user-toggle.active{
  border-bottom: 4px solid #154594;
  border-radius: 3px;
  color: #154594;
}
